{% extends 'base_main.html' %}
{% load static %}

{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/market/market.css' %}">
{% endblock %}

{% block extJS %}
    <script type="text/javascript" src="{% static 'app/market/market.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="market">
        <aside>
            <ul>
                {% for foodtype in foodtypes %}
                    <li>
                        {% ifequal foodtype.typeid typeid %}
                            <span class="yellowSlide"></span>
                            <a href="#">{{ foodtype.typename }}</a>
                        {% else %}
                            <a href="{% url 'axf:marketWithParam' foodtype.typeid 0 0 %}">{{ foodtype.typename }}</a>
                        {% endifequal %}

                    </li>
                {% endfor %}

            </ul>
        </aside>
        <section>
            <nav>
                <ul>
                    <li><span id="alltype_button">全部分类<span id="alltype_arrow"
                                                            class="glyphicon glyphicon-chevron-down"></span></span></li>
                    <li><span id="sort_button">综合排序<span id="sort_arrow"
                                                         class="glyphicon glyphicon-chevron-down"></span></span></li>
                </ul>
            </nav>
            <menu>
                <ul>
                    {% for good in goods %}
                        <li>
                            <a href="#">
                                <img src="{{ good.productimg }}" alt="">
                                <div class="shoppingInfo">
                                    <h6>{{ good.productlongname }}</h6>
                                    <p class="detailTag">
                                        <span>精选</span>
                                        <span></span>
                                    </p>
                                    <span class="unit">{{ good.specifics }}</span>
                                    <p class="price">
                                        <span>{{ good.price }}</span>
                                        <s>{{ good.marketprice }}</s>
                                    </p>
                                </div>
                            </a>
                            <section>
                                <button goodsid="{{ good.id }}" class="subToCart">-</button>
                                {% for cart in carts %}
                                    {% ifequal goods.id cart.c_goods.id %}
                                        <span >{{ cart.c_num }}</span>
                                    {% endifequal %}
                                {% endfor %}
                                <button goodsid="{{ good.id }}" class="addToCart">+</button>
                            </section>
                        </li>
                    {% endfor %}

                </ul>
                <div id="type_container">
                    <div>
                        {% for child in allChild %}
                            <a href="{% url 'axf:marketWithParam' typeid child.1 0 %}">
                                <span>{{ child.0 }}</span>
                            </a>
                        {% endfor %}

                    </div>
                </div>

                <div id="sort_container">
                    <div>
                        <a href="{% url 'axf:marketWithParam' typeid childid 0 %}"><span>综合排序</span></a>
                        <a href="{% url 'axf:marketWithParam' typeid childid 1 %}"><span>销量排序</span></a>
                        <a href="{% url 'axf:marketWithParam' typeid childid 2 %}"><span>价格升序</span></a>
                        <a href="{% url 'axf:marketWithParam' typeid childid 3 %}"><span>价格降序</span></a>
                    </div>
                </div>
            </menu>
        </section>

    </div>
{% endblock %}